[[source]]
name = "douban"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pypandoc = "*"
fake-useragent = "*"
requests = "*"

[packages]
fake-useragent = "*"
requests = "*"

[requires]
python_version = "3.7"
